:root {
    --primary-color: #deb887;
    --heading-font: "Americana";
    --body-font: Arial, Helvetica, sans-serif;
    --textfill-color: #b65c54ba;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    border-bottom: 15px solid #fff;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 16.5px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

header nav a {
    display: block;
    background-color: #b65c54ba;
    max-width: 10rem;
    padding: 10px 15px;
    border: 2px solid var(--textfill-color);
    text-decoration: none;
    color: #fff;
}

body {
    font-size: var(--body-font);
    color: black;

}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: black;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: #000;
}

section h2 {
    display: block;
    text-align: center;
    width: 100%;
    top: 20px;
    bottom: 20px;
    padding: 20px;
    background-color: var(--primary-color);
    box-shadow: 0 0 8px black;
    z-index: 1;
    grid-column: 2/3;
}

.hero article {
    position: absolute;
    display: block;
    background-color: beige;
    box-shadow: 0 0 15px rgb(80, 60, 18);
    bottom: 0em;
    color: #000;
}

.hero article img {
    float: right;
    width: 150px;
    padding: 20px 0 10px;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section p {
    display: block;
    background-color: beige;
    padding: 20px;
    box-shadow: 0 0 15px rgb(80, 60, 18);
    grid-column: 1/2;
    grid-row: 1/2;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

section img {
    border: 2px solid gray;
}

.text2 {
    grid-column: 3/4;
}

.adventure {
    display: grid;
    grid-column: 1/5;
    display: flex;
    text-align: center;
    margin-top: 20px;
    gap: 10px;
}

footer {
    display: block;
    border: 2px solid #606060;
    background-color: rgb(255, 234, 187);
    display: flex;
    height: 100px;
}

.socialmedia {
    display: flex;
}

.copyright {
    grid-column: 2/3;
    align-content: center;
}