:root {
    --primary-color: #deb887;
    --heading-font: "Americana";
    --body-font: Arial, Helvetica, sans-serif;
    --textfill-color: #b65c54ba;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    border-bottom: 15px solid #fff;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 16.5px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

header nav a {
    display: block;
    background-color: #b65c54ba;
    max-width: 10rem;
    padding: 10px 15px;
    border: 2px solid var(--textfill-color);
    text-decoration: none;
    color: #fff;
}

body {
    font-size: var(--body-font);
    color: black;

}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: black;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: #000;
}

section h2 {
    display: block;
    text-align: center;
    width: 100%;
    top: 20px;
    bottom: 20px;
    padding: 20px;
    background-color: var(--primary-color);
    box-shadow: 0 0 8px black;
    z-index: 1;
    grid-column: 2/3;
}

.hero article {
    position: absolute;
    display: block;
    background-color: beige;
    box-shadow: 0 0 15px rgb(80, 60, 18);
    bottom: 0em;
    color: #000;
}

.hero article img {
    float: right;
    width: 150px;
    padding: 20px 0 10px;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section p {
    display: block;
    background-color: beige;
    padding: 20px;
    box-shadow: 0 0 15px rgb(80, 60, 18);
    grid-column: 1/2;
    grid-row: 1/2;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

section img {
    border: 2px solid gray;
}

.text2 {
    grid-column: 3/4;
}

.adventure {
    grid-column: 1/5;
    display: flex;
    text-align: center;
    margin-top: 20px;
    gap: 10px;
}

footer {
    border: 2px solid #606060;
    background-color: rgb(255, 234, 187);
    display: flex;
    height: 100px;
}

.socialmedia {
    display: flex;
}

.copyright {
    grid-column: 2/3;
    align-content: center;
}

form {
    padding: 1em;
    border-radius: 0.5px;
}

.mapform {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1;
    align-items: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    padding: 15px 20px 20px;
    letter-spacing: 0.5px;
    grid-column: 2/3;
    border-radius: 1rem;
    border: 1.2px solid #3d3737;
}

label {
    padding: 1px;
}

input,
textarea {
    padding: 5px;
    width: 100%;
    font-size: 1.05em;
}

input[type="radio"] {
    position: relative;
    top: 17px;
    left: 10em;
}

input[type="checkbox"] {
    position: relative;
    display: flex;
    height: 15.5px;
    left: 19.5em;
    bottom: 1em;
    margin: 1px;
}

legend {
    font-size: 1.5em;
    color: rgb(44, 77, 44);
}

.heading {
    text-align: center;
    display: block;
    background-color: var(--primary-color);
    opacity: 0.9;
    padding: 15px;
    border: 1.5px solid #302020;
    margin: 10px;
}

.information {
    text-align: center;
    font-size: 1.1em;
}

.paragraph {
    padding: 7px;
    margin: 10px;
    border: 1.1px solid rgb(4, 103, 53);
}

button {
    background-color: rgb(249, 179, 138);
    padding: 0.8em;
    border: 1px solid rgb(143, 143, 143);
    font-size: 0.9em;
}

.serve {
    font-size: 1.1em;
    text-align: center;
    padding: 15px;
    display: block;
    background-color: var(--primary-color);
    border: 1.5px solid rgb(69, 48, 24);
    margin: 10px;
    margin-bottom: 15px;
}

.employee {
    display: flex;
    justify-content: space-around;
    padding-bottom: 12px;
}

.photo {
    text-align: center;
    font-size: 1.1em;
    border-bottom: 2px solid burlywood;
}

.activities {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.activityphoto img {
    display: block;
}

.rafting-activities {
    border: 3px solid gray;
    box-shadow: 0 0 15px rgb(88, 88, 88);
    margin-bottom: 10px;
}

.activities-caption {
    display: block;
    background-color: #deb887;
    border: 1px solid #5f3604;
    padding: 5px;
}

.beautiful-view {
    display: flex;
    position: relative;
    align-items: center;
}

.beautiful-view-image img {
    display: block;
    border: 15px solid rgb(22, 76, 26);
    border-radius: 0.7rem;
}

.text-view {
    display: block;
    background-color: #4c7148;
    color: #fff;
    border: 2px solid rgb(10, 79, 10);
    border-radius: 1rem;
    letter-spacing: 0.7px;
}

.booktrip {
    display: block;
    background-color: #d5b783;
    font-size: 1.099em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    padding: 1px;
    border: 2px solid rgb(153, 73, 20);
    border-radius: 0.5em;
    margin: 5px 0 20px;
    display: flex;
    justify-content: space-between;
}

.happy-group img {
    display: block;
    margin: 5px;
    border: 1px solid rgb(110, 55, 55);
}

.happy-group2 img {
    display: block;
    margin: 10px;
    border: 1px solid rgb(110, 55, 55);
}

.trips-heading {
    display: block;
    background-color: var(--primary-color);
    padding: 15px;
    text-align: center;
    border: 1.5px solid rgb(60, 11, 11);
    margin-bottom: 20px;
}

.available-trips {
    display: block;
    font-size: 0.9em;
    padding: 30px 0 10px 10px;

}

.trips-questions {
    display: block;
    background-color: #ececec;
    text-align: center;
    border: 1px solid #000;
    border-radius: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}

.trips-rafting {
    display: flex;
    letter-spacing: 0.7px;
}

.trip1 {
    background-color: #c1cddd;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 0.5em;
    width: 33%;
    margin: 15px;
}

.trip2 {
    background-color: #c1cddd;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 0.5em;
    width: 33%;
    margin: 15px;
}

.trip3 {
    background-color: #c1cddd;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 0.5em;
    width: 33%;
    margin: 15px;
}

.trips-images img {
    margin: 25px;
    display: block;
    border: 1.5px solid #585858;
}

.trip-title {
    font-size: 1.5em;
}

.trip-info-title {
    font-size: 1.5em;
}

.book-now {
    padding-bottom: 20px;
}