table {
    border-collapse: collapse;
    border: 2px solid rgb(170, 162, 162);
    letter-spacing: 1px;
    text-align: center;
}

th,
td {
    border-collapse: collapse;
    border: 1px solid rgb(212, 212, 212);
    padding: 7px;
}

.catarina {
    background-color: rgb(229, 234, 236);
    border: 1px solid rgb(212, 212, 212);
}

.acre {
    background-color: rgb(229, 234, 236);
    border: 1px solid rgb(212, 212, 212);
}

thead th,
tfoot tr {
    color: white;
    background-color: black;
    padding: 12px;
}