* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
    align-content: center;
    justify-items: center;
}

.flex {
    background-color: #aba;
}

.grid {
    background-color: #abb;

}

.container2 {
    display: flex;
    justify-content: space-evenly;
}

.two {
    background-color: #ace;
    height: 100px;
}

.container3 {
    display: grid;
}

.columns-3 {
    grid-column: 1/4;
}

.three {
    margin: .25rem;
    background-color: #abd;
}