:root {

    --nav-a-color: darkblue;
    --all-margin: 20px 30px 0;

}

main {
    max-width: fit-content;
}

nav {
    background-color: var(--nav-a-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
    margin: var(--all-margin);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: var(--all-margin);
}

p {
    padding: 0;
    margin: var(--all-margin);
}

aside {
    width: auto;
    margin: var(--all-margin);
    border: 1.5px solid black;
    padding: 1rem;
    background-color: lightblue;
    color: #000;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    border: 1.5px solid black;
    box-shadow: 0 0 30px gray;
}

footer {
    margin-top: 1.5px;
    border-top: 1.5px solid black;
    background-color: lightgray;
    padding-bottom: 1rem;
    text-align: center;

}