* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --nav-a-color: darkblue;
    --all-margin: 20px 30px 0;

}

main {
    max-width: fit-content;
}

nav {
    background-color: var(--nav-a-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: darkblue;
    margin: var(--all-margin);
    border-bottom: 5px;
    font-weight: 700;
}

main img {
    width: 220px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: var(--all-margin);
    float: right;

}

p {
    padding: 0;
    margin: var(--all-margin);
}

aside {
    width: auto;
    margin: var(--all-margin);
    border: 1.5px solid black;
    background-color: lightblue;
    text-align: center;
}

aside h2 {
    position: relative;
    top: 118px;
    left: 55px;
    color: white;
    font-size: 16px;
}

aside img {
    width: 250px;
    height: auto;
    border: 1.5px solid black;
    box-shadow: 0 0 30px gray;
}

header,
footer,
.grid {
    margin-top: 1.5px;
    background-color: #fff;
    padding-bottom: 1rem;
    text-align: center;
    max-width: 840px;
    margin: 0 auto;
}

footer {
    border-top: 1.5px solid #000;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1;
    grid-row: 1;

}

/* Class selectors */
.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: lightcoral;
    color: #000;
}