.callout {
    max-width: 450px;
    margin: 20px;
    border: 1px solid black;
    padding: 20px;
    background-color: lightcoral;
    color: black;
}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px solid #000;
    padding: 3px;
    background-color: sandybrown;
    width: 100px;
    height: auto;
}

blockquote {
    margin: 25px;
}

cite {
    display: 20px;
    border: top;
    padding: top;
    text-align: right;
    font-size: 17px;
}